@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100&display=swap');

/* Variables & colors */
:root {
    --yellow: #D9EA00;
    --black: #1A234A;
    --base-black: #313131;
    --white: #fff;
    --bg-opacity: 1;
    --base-mobile-padding: 4rem;
    --base-desktop-padding: 7rem;
    --base-family: 'Work Sans', sans-serif;
}

.yellow {
    color: var(--yellow);
}

.black {
    color: var(--black);
}

.yellow-linear-bg {
    background: rgb(207, 224, 0);
    background: linear-gradient(55deg, rgba(207, 224, 0, 1) 0%, rgba(180, 194, 0, 1) 100%);
}

.yellow-bg {
    background-color: var(--yellow);
}

/* COLORS END */

.opstory h1,
.opstory h2,
.opstory h3,
.opstory .fs-6-5,
.opstory .fs-3 {
    font-family: var(--base-family);
}

.opstory h1,
.opstory h2,
.opstory h3 {
    font-weight: 700;
}

.opstory strong {
    font-family: var(--base-family);
    font-weight: 700;
}

.opstory {
    color: var(--base-black);
}

.opstory p {
    font-size: 0.875rem;
    line-height: 26px;
}

.opstory a {
    color: var(--yellow);
}

.opstory a:hover {
    text-decoration: underline;
}

.opstory .fs-6-5 {
    font-size: 1rem;
}

.opstory .fs-3-5 {
    font-size: 1.5rem;
}


@media all and (min-width: 580px) {


    .opstory p {
        font-size: 1rem;
    }

    .opstory .fs-3-5 {
        font-size: 1.625rem;
    }

    .opstory .fs-6-5 {
        font-size: 1.125rem;
    }
}

.opstory .sans-100-italic {
    font-family: var(--base-family);
    font-style: italic;
}

.opstory .sans-700 {
    font-family: var(--base-family);
    font-weight: 700;
}

.opstory .sans-playpen {
    font-family: 'Playpen Sans', cursive;
}

.opstory .rounded-20 {
    border-radius: 20px;
}

/* hero */
.opstory .hero {
    padding: var(--base-mobile-padding) 0 3rem 0;
}

.opstory .hero .circles {
    max-width: 420px;
    bottom: -47px;
    right: 0;
    left: 0;
    width: 100%;
    margin: auto;
}

.opstory .btn-close {
    position: relative;
    top: -10px;
}


@media screen and (min-width: 992px) {

    .opstory .btn-close {
        right: -45px;
    }

    .opstory .hero {
        padding: var(--base-desktop-padding) 0 3rem 0;
    }

    .opstory .hero .circles {
        max-width: 808px;
        left: auto;
        bottom: -10%;
        width: auto;
        margin: 0;
    }
}

@media screen and (min-width: 1198px) {
    .opstory .hero .circles {
        bottom: -14%;
    }
}

@media screen and (min-width: 1585px) {
    .opstory .hero .circles {
        right: -10%;
    }
}

/* hero images */
.opstory .hero .image-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    bottom: -48px;
    z-index: 1;
}

.opstory .hero .image-wrapper .left-image {
    max-width: 160px;
    position: relative;
    object-fit: contain;
    bottom: -12px;
}

.opstory .hero .image-wrapper .right-image {
    max-width: 200px;
    position: relative;
    left: -45px;
    object-fit: contain;
}

.opstory .caption-bg-wrapper {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
}

.opstory .caption-bg {
    max-width: 180px;
}

.opstory .left-caption-bg {
    left: -30px;
    position: relative;
    top: -50px;
}

.opstory .right-caption-bg {
    left: -80px;
    position: relative;
}

.opstory .caption {
    position: absolute;
    font-size: 0.875rem;
    font-family: var(--base-family);
    font-weight: 700;
}

.opstory .left-caption-bg .caption {
    top: 25px;
    left: 28px;
}

.opstory .right-caption-bg .caption {
    top: 25px;
    left: 35px;
}

@media screen and (min-width: 768px) {
    .opstory .left-caption-bg {
        left: 100px;
    }
}

@media screen and (min-width: 992px) {
    .opstory .caption-bg {
        max-width: 220px;
    }

    .opstory .hero .image-wrapper {
        position: absolute;
        width: auto;
        justify-content: flex-start;
    }

    .opstory .hero .image-wrapper .left-image {
        max-width: 100%;
        left: 0;
        bottom: -108px;
        height: 380px;
    }

    .opstory .hero .image-wrapper .right-image {
        max-width: 100%;
        left: auto;
        right: 115px;
        height: 414px;
        bottom: -74px;
    }

    .opstory .caption {
        font-size: 1.063rem;
    }

    .opstory .left-caption-bg .caption {
        top: 33px;
        left: 36px;
    }

    .opstory .right-caption-bg .caption {
        top: 33px;
        left: 46px;
    }

    .opstory .left-caption-bg {
        left: -90px;
        position: relative;
        top: inherit;
    }

    .opstory .right-caption-bg {
        right: 20px;
        position: relative;
        left: inherit;
    }

}

@media screen and (min-width: 1198px) {
    .opstory .hero .image-wrapper {
        bottom: -66px;
        justify-content: center;
    }

    .opstory .hero .image-wrapper .left-image {
        min-height: 482px;
        height: auto;
        bottom: 20px
    }

    .opstory .hero .image-wrapper .right-image {
        min-height: 525px;
        height: auto;
        bottom: 63px;
    }

    .opstory .left-caption-bg {
        left: -20px;
    }
}

@media screen and (min-width: 1585px) {
    .opstory .hero .image-wrapper {
        right: -10%;
    }
}

/* second section */
.opstory .about {
    padding: 4rem 0;
    /*     min-height: 600px;
 */
}

.opstory .about .about-image {
    min-height: 300px;
    max-width: 500px;
    width: 100%;
}

.about-image-mobile {
    position: relative;
    left: -35px;
    bottom: -64px;
    width: 100%;
}

.opstory .about .about-article {
    font-family: var(--base-family);
    width: 100%;
    padding: 5px;
}

@media screen and (min-width: 580px) {
    .about-image-mobile {
        left: -90px;
    }
}

@media screen and (min-width: 768px) {
    .about-image-mobile {
        left: -132px;
    }

    .opstory .about .about-image {
        min-height: 440px;
        max-width: 600px;
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .opstory .about .about-image {
        min-height: 300px;
        max-width: 500px;
    }

    .opstory .center-article {
        max-width: 417px;
        margin-left: -10%;
    }

    .opstory .about {
        padding: 5rem 0;
        /*         min-height: 712px;
 */
    }

    .opstory .about .about-article {
        max-width: 560px;
    }
}

@media screen and (min-width: 1198px) {
    .opstory .about .about-image {
        min-height: 385px;
        max-width: 560px;
    }
}

@media screen and (min-width: 1280px) {
    .opstory .about .about-image {
        min-height: 428px;
        max-width: 595px;
    }
}

@media screen and (min-width: 1480px) {
    .opstory .about .about-image {
        min-height: 446px;
        max-width: 700px;
    }
}

/* team section */
.opstory .team {
    padding: 7rem 0;
}

.object-fit-cover {
    -o-object-fit: cover !important;
    object-fit: cover !important;
}

.gallery-btn {
    border: 0;
    background-color: transparent;
    position: absolute;
    top: -25%;
    right: -20px;
    transform: rotate(5deg);
}

.opstory .carousel-control-prev,
.opstory .carousel-control-next {
    border: 1.932px solid #4E5D9C;
    border-radius: 33px;
    background: linear-gradient(160deg, #2E3B6F 8.75%, #1A234A 91.75%);
    width: 33px;
    height: 33px;
    top: 50%;
}

.opstory .carousel-control-prev-icon,
.opstory .carousel-control-next-icon {
    width: 15px;
}

.opstory .carousel-control-prev {
    left: -8%;
}

.opstory .carousel-control-next {
    right: -8%;
}

.opstory .team .team-img-left-wrapper {
    transform: rotate(7deg);
    top: -5rem;
    left: -3%;
}

.opstory .team .team-img-right-wrapper {
    transform: rotate(-5deg);
    right: 10%;
    bottom: -20px;
    position: relative;
}

.opstory .team .team-img {
    width: 127px;
    height: 120px;
}

.team-article {
    width: 100%;
}

@media screen and (min-width: 375px) {
    .opstory .team .team-img {
        width: 150px;
        height: 140px;
    }
}


@media screen and (min-width: 768px) {
    .opstory .team .team-img {
        width: 190px;
        height: 176px;
    }
}

@media screen and (min-width: 992px) {

    .team-article {
        max-width: 560px;
    }

    .opstory .team .team-img {
        width: 368px;
        height: 310px;
    }

    .opstory .team .team-img-wrapper {
        box-shadow: 0px 10px 34px 0px rgba(0, 0, 0, 0.20);
        position: absolute;
    }

    .gallery-btn {
        top: -17%;
        font-size: 1.375rem;
        right: 25%;
        transform: rotate(5deg);
    }

    .opstory .team .team-img-right-wrapper {
        position: absolute;
        right: -3%;
        bottom: -25rem;
    }

}

@media screen and (min-width: 1480px) {
    .opstory .team .team-img-right-wrapper {
        right: -6.5%;
    }
}


/* COUNTER SECTION */
.counter-title {
    font-size: 2.5rem;
}

@media screen and (min-width: 992px) {
    .counter-title {
        font-size: 4.375rem;
    }
}

/* COUNTER SECTION END */

/* TIMELINE */
.timeline ul {
    padding: 50px 0;
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    padding-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeline ul li::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 53%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
    z-index: 1;
    display: none;
}

.timeline ul li .timeline-card {
    position: relative;
    bottom: 0;
    width: calc(100vw - 100px);
    padding: 15px;
}

.timeline ul li .timeline-card::before {
    content: "";
    position: absolute;
    bottom: 7px;
    width: 140px;
    height: 0.7px;
    background-color: rgba(255, 255, 255, 0.3);
}

.timeline ul li:nth-child(odd) .timeline-card {
    left: 0;
}

.timeline ul li:nth-child(odd) .timeline-card::before {
    left: -28%;
    width: 105px;
    top: 50%;
    display: none;
}

.timeline ul li:nth-child(even) .timeline-card::before {
    right: -28%;
    width: 105px;
    top: 50%;
    left: -15px;
    display: none;
}

.timeline-card-title {
    font-family: var(--base-family);
    font-size: 1.25rem;
    display: block;
    font-weight: bold;
    margin-bottom: 4px;
    line-height: 1.3;
}

.timeline ul li time {
    font-weight: bold;
    margin-bottom: 2px;
    font-family: var(--base-family);
}

.timeline ul li .time {
    font-size: 1rem;
    color: var(--yellow);
    line-height: 1;
}

.timeline ul li time>span {
    font-weight: 300;
    font-family: var(--base-family);
}

.timeline ul li:nth-child(odd) .time,
.timeline ul li:nth-child(even) .time {
    text-align: center;
}

.timeline ul li .border-bottom-elem {
    min-height: 60px;
    display: inline-flex;
    flex-direction: column-reverse;
}

.timeline ul li .border-bottom-elem::before {
    background-color: rgba(255, 255, 255, 0.3);
    width: 50px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    content: "";
    height: 1px;
    display: inline-flex;
}

/* GENERAL TIMELINE MEDIA QUERIES */

@media screen and (min-width: 1198px) {
    .timeline-card-title {
        font-size: 2rem;
    }

    .timeline ul li .time {
        position: absolute;
        color: var(--white);
        font-size: 1.375rem;
    }

    .timeline ul li:nth-child(odd) .time {
        left: -265px;
    }

    .timeline ul li:nth-child(even) .time {
        right: -225px;
    }

    .timeline ul li:nth-child(odd) .time {
        text-align: right;
    }

    .timeline ul li:nth-child(even) .time {
        text-align: left;
    }

    .timeline ul li {
        width: 1px;
        margin: 0 auto;
        display: block;
        background: rgba(255, 255, 255, 0.3);
    }

    .timeline ul li:first-child {
        background: rgba(255, 255, 255, 0.3);
        background: radial-gradient(circle at top, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0.3) 100%);
    }

    .timeline ul li:last-child {
        background: rgba(255, 255, 255, 0.3);
        background: radial-gradient(circle at bottom, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0.3) 100%);
    }

    .timeline ul li .timeline-card {
        width: 430px;
    }

    .timeline ul li:nth-child(even) .timeline-card {
        left: -520px;
    }

    .timeline ul li:nth-child(even) .timeline-card::before {
        left: auto;
        right: -20%;
    }

    .timeline ul li:nth-child(odd) .timeline-card::before {
        left: -20%;
    }

    .timeline ul li:nth-child(even) .timeline-card::before,
    .timeline ul li:nth-child(odd) .timeline-card::before {
        display: block;
    }

    .timeline ul li:nth-child(odd) .timeline-card {
        left: 100px;
    }

    .timeline ul li::after {
        display: block;
    }
}

/* TIMELINE EFFECTS */
.timeline ul li::after {
    transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
    background: var(--yellow);
    background: linear-gradient(55deg, rgba(207, 224, 0, 1) 0%, rgba(180, 194, 0, 1) 100%);
    display: none;
}

.timeline ul li .timeline-card {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    text-align: center;
}

.timeline-card-img {
    width: 130px;
    height: 130px;
}

@media screen and (min-width: 992px) {

    .timeline ul li .border-bottom-elem {
        display: none;
    }

    .timeline ul li .timeline-card {
        text-align: left;
    }

    .timeline ul li:nth-child(even) .timeline-card {
        text-align: right;
    }

    .timeline-card-img {
        width: 200px;
        height: 200px;
    }
}

@media screen and (min-width: 1198px) {
    .timeline ul li.in-view::after {
        display: block;
    }

    .timeline-card-img {
        width: 160px;
        height: 160px;
    }
}

@media screen and (min-width: 1400px) {
    .timeline-card-img {
        width: 200px;
        height: 200px;
    }

    .timeline ul li .timeline-card {
        width: 550px;

    }

    .timeline ul li:nth-child(even) .timeline-card {
        left: -625px;
    }

    .timeline ul li:nth-child(even) .timeline-card::before {
        right: -16%;
    }

    .timeline ul li:nth-child(odd) .timeline-card::before {
        left: -16%;
    }
}

/* card effects */
.timeline ul li:nth-child(odd) .timeline-card {
    transform: translate3d(0, 200px, 0);
}

.timeline ul li:nth-child(even) .timeline-card {
    transform: translate3d(0, -200px, 0);
}

.timeline ul li.in-view .timeline-card {
    transform: none;
    visibility: visible;
    opacity: 1;
}

/* Teammembers*/
.opstory .card {
    background-color: transparent;
    border: 0;
}

.opstory .sign-wrapper .sign {
    width: 2.55em;
    height: 2.5em;
    position: relative;
}

.opstory .sign-wrapper .sign .horizontal {
    width: 20px;
    height: 1px;
    margin-left: -10px;
    margin-top: -0.5px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--white);
}

.opstory .closed .horizontal {
    transition: all .5s ease-in-out;
    transform: rotate(-90deg);
    opacity: 1;
}

.opstory .horizontal {
    transition: all .5s ease-in-out;
    transform: rotate(-90deg);
    opacity: 1;
}

.opstory .sign-wrapper .sign .vertical {
    width: 1px;
    height: 20px;
    margin-left: 0.5px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--white);
}

.opstory .closed .vertical {
    transition: all .5s ease-in-out;
    transform: rotate(-90deg);
}

.opstory .vertical {
    transition: all .5s ease-in-out;
    transform: rotate(-90deg);
}

.opened {
    opacity: 1;
}

.opened .horizontal {
    transition: all .5s ease-in-out;
    transform: rotate(90deg);
    opacity: 0;
}

.opened .vertical {
    transition: all .5s ease-in-out;
    transform: rotate(90deg);
}

.opstory .team-member-second-img {
    transition: all .5s ease-in-out;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.opstory .card:hover .team-member-second-img {
    opacity: 1;
}

.card-img-overlay {
    background: rgba(217, 234, 0, 1);
    background: linear-gradient(45deg, rgba(217, 234, 0, 1) 1%, rgba(217, 234, 0, 0.01) 40%);
}

@media screen and (min-width: 992px) {
    .team-member-row>div:nth-child(even) {
        margin-top: -15px;
    }
}

.opstory .top-element {
    position: absolute;
    margin: auto;
    top: -100px;
    max-width: 190px;
}

@media all and (min-width: 992px) {
    .opstory .top-element {
        top: -115px;
        max-width: 220px;
    }
}

.opstory .fade-in-out {
    animation-name: fadeInOut;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

@keyframes fadeInOut {
    0% {
        transform: scale(1)
    }

    25% {
        transform: scale(.97)
    }

    35% {
        transform: scale(.9)
    }

    45% {
        transform: scale(1.1)
    }

    55% {
        transform: scale(.9)
    }

    65% {
        transform: scale(1.1)
    }

    75% {
        transform: scale(1.03)
    }

    100% {
        transform: scale(1)
    }
}

@keyframes pulse-base {
    0% {
        opacity: .6;
        fill: currentColor
    }

    50% {
        opacity: 1;
        fill: currentColor
    }

    100% {
        opacity: .6;
        fill: currentColor
    }
}